* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  background-image: linear-gradient(360deg, #69140e 0%, #d58936 74%);
  background-repeat: no-repeat;
  height: 100%;
  background-attachment: fixed;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.mode {
  position: absolute;
  width: 100px;
  padding: 5px;
  margin: 10px 20px;
  cursor: pointer;
  right: 0;
  border: none;
  font-weight: 500;
  letter-spacing: 3px;
  box-shadow: 0px 3px 5px -1px rgb(0 0 0 / 20%),
    0px 6px 10px 0px rgb(0 0 0 / 14%), 0px 1px 18px 0px rgb(0 0 0 / 12%);
}

header {
  margin: 10px 0;
  padding: 20px 0;
  display: flex;
  justify-content: center;
}

header div {
  text-align: center;
  display: flex;
  flex-direction: column;
  line-height: 40px;
}

header h1 {
  color: #ffffff;
  font-size: 60px;
  letter-spacing: 6px;
  font-family: "Archivo Black", sans-serif;
  font-weight: normal;
  z-index: -1;
  text-shadow: 3px 3px 2px rgb(0 0 0 / 20%);
}

header h2 {
  color: #7e4f1d;
  font-size: 45px;
  font-family: "Lobster", cursive;
  font-weight: lighter;
  z-index: 0;
  text-shadow: 3px 3px 2px rgb(0 0 0 / 12%);
}

h2,
h3,
.ing {
  color: #34373f;
}

h3 {
  text-align: center;
}

h3,
.ing,
.contents {
  padding: 5px 0;
}

.search {
  display: flex;
  justify-content: center;
}

.search div {
  background-color: #f5f5f5;
  display: flex;
  width: 40%;
  height: 50px;
  box-shadow: 0px 3px 5px -1px rgb(0 0 0 / 20%),
    0px 6px 10px 0px rgb(0 0 0 / 14%), 0px 1px 18px 0px rgb(0 0 0 / 12%);
  border-radius: 5px;
}

.search input {
  width: 100%;
  border: none;
  padding: 0 20px;
  outline: none;
  font-size: 20px;
  border-radius: 5px;
}

.ing {
  font-size: 18px;
}

.food {
  background-color: azure;
  border-radius: 10px;
  box-shadow: 0px 3px 5px -1px rgb(0 0 0 / 20%),
    0px 6px 10px 0px rgb(0 0 0 / 14%), 0px 1px 18px 0px rgb(0 0 0 / 12%);
  margin: 50px;
  cursor: pointer;
}

.foodContent {
  padding: 10px 20px;
  background-color: rgb(245, 245, 245);
  width: 50%;
}

.foodContent p {
  font-weight: 500;
}

.image {
  height: 250px;
  width: 250px;
  overflow: hidden;
  border-radius: 10px 10px 0 0;
  transition: 0.5s;
}

.image:hover {
  filter: grayscale(1);
}

.image img {
  width: 100%;
}

.popup {
  width: 100%;
  height: 100vh;
  position: fixed;
  background-color: #1f170dcc;
  justify-content: space-around;
  align-items: center;
  top: 0;
  left: 0;
  cursor: auto;
  backdrop-filter: blur(5px);
  z-index: 1;
}

ul {
  margin: 0 20px;
  padding: 10px 0;
  columns: 2;
  color: #676869;
}

.close-btn,
.remove-btn {
  cursor: pointer;
  float: right;
}

.close-btn {
  border: none;
  font-weight: bold;
  font-size: 15px;
  border-radius: 50%;
  padding: 10px 15px;
  background-color: #e0e0e0;
  box-shadow: 0px 3px 5px -1px rgb(0 0 0 / 20%),
    0px 6px 10px 0px rgb(0 0 0 / 14%), 0px 1px 18px 0px rgb(0 0 0 / 12%);
  transition: 0.5s;
}

.close-btn:hover {
  background-color: #d3d2d2;
}

.more-btn {
  bottom: -10px;
  border: none;
  margin: 10px 0;
  padding: 7px;
  width: max-content;
  cursor: pointer;
  box-shadow: 0px 3px 5px -1px rgb(0 0 0 / 20%),
    0px 6px 10px 0px rgb(0 0 0 / 14%), 0px 1px 18px 0px rgb(0 0 0 / 12%);
  font-weight: bold;
  font-size: 15px;
  color: #d98324;
  letter-spacing: 1px;
  transition: 0.5s;
}

.more-btn:hover {
  filter: sepia();
}

.more {
  margin: 10px;
  padding: 10px;
}

.more h1 {
  color: rgb(245, 245, 245);
}

.more-top {
  display: flex;
  width: 100%;
  justify-content: center;
}

.more-block1 {
  display: flex;
  padding: 10px 0;
  margin: 10px 10px;
  width: 100%;
}

.more-block1 h2 {
  text-align: left;
  color: rgb(245, 245, 245);
}

.more img {
  height: 400px;
  border: 2px solid rgb(245, 245, 245);
  box-shadow: 0px 3px 5px -1px rgb(0 0 0 / 20%),
    0px 6px 10px 0px rgb(0 0 0 / 14%), 0px 1px 18px 0px rgb(0 0 0 / 12%);
}

.more-block1-Ing {
  margin-left: 30px;
}

.more ul {
  color: rgb(245, 245, 245);
  columns: 1;
  font-size: 18px;
}

.more-top header {
  align-items: center;
  width: 100%;
  margin: 10px;
}

.more-midblock {
  width: 100%;
}

.more-block2 {
  background-color: rgb(245, 245, 245);
  margin: 20px 0;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 3px 5px -1px rgb(0 0 0 / 20%),
    0px 6px 10px 0px rgb(0 0 0 / 14%), 0px 1px 18px 0px rgb(0 0 0 / 12%);
}

.more-block2 p {
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 3px 5px -1px rgb(0 0 0 / 20%),
    0px 6px 10px 0px rgb(0 0 0 / 14%), 0px 1px 18px 0px rgb(0 0 0 / 12%);
  transition: 0.5s;
}

.more-block2 p:hover {
  background-color: #f5b876;
}

.more-block2 p b {
  color: #34373f;
}

.back-btn {
  border: none;
  margin: 10px 0;
  padding: 10px;
  width: 150px;
  cursor: pointer;
  background-image: linear-gradient(315deg, #d98324 0%, #f0c495 74%);
  box-shadow: 0px 3px 5px -1px rgb(0 0 0 / 20%),
    0px 6px 10px 0px rgb(0 0 0 / 14%), 0px 1px 18px 0px rgb(0 0 0 / 12%);
  font-weight: bold;
  font-size: 18px;
  color: #7e4c16;
  letter-spacing: 2px;
  position: relative;
  z-index: 1;
}

.back-btn::before {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: linear-gradient(120deg, #d98324 0%, #f0c495 74%);
  z-index: -1;
  transition: opacity 0.3s linear;
  opacity: 0;
}

.back-btn:hover::before {
  opacity: 1;
}

a:link {
  text-decoration: none;
}

.addNew {
  background-color: rgba(250, 250, 250, 0.856);
  width: 250px;
  height: 285px;
  border-radius: 10px;
  box-shadow: 0px 3px 5px -1px rgb(0 0 0 / 20%),
    0px 6px 10px 0px rgb(0 0 0 / 14%), 0px 1px 18px 0px rgb(0 0 0 / 12%);
  margin: 50px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  opacity: 0.2;
  z-index: 0;
}

.add i {
  color: rgb(52, 53, 53);
  font-size: 80px;
}

.addNew h3 {
  color: rgb(52, 53, 53);
}

.addNew:hover {
  opacity: 1;
}

form {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f0c495b6;
  border-radius: 5px;
  box-shadow: 0px 3px 5px -1px rgb(0 0 0 / 20%),
    0px 6px 10px 0px rgb(0 0 0 / 14%), 0px 1px 18px 0px rgb(0 0 0 / 12%);
}

form hr {
  margin-bottom: 50px;
}

label {
  display: block;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 5px;
  font-size: 18px;
  letter-spacing: 1px;
  font-weight: 500;
  color: #7e4c16;
  text-shadow: 1px 2px 2px rgb(0 0 0 / 20%);
}

form input {
  display: block;
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  font-size: 15px;
  border: none;
  box-shadow: 0px 3px 5px -1px rgb(0 0 0 / 20%),
    0px 6px 10px 0px rgb(0 0 0 / 14%), 0px 1px 18px 0px rgb(0 0 0 / 12%);
}

input[type="submit"] {
  margin-top: 40px;
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: uppercase;
  cursor: pointer;
  background-image: linear-gradient(315deg, #d98324 0%, #f0c495 74%);
  color: #7e4c16;
  transition: 0.5s;
}

input[type="submit"]:hover {
  border: 2px solid white;
}

@media screen and (max-width: 1300px) {
  .more-top {
    flex-direction: column;
  }

  .more-top header {
    order: 1;
    margin: 0;
    padding: 10px 0;
  }

  .more-block1 {
    order: 2;
    flex-direction: column;
    margin: 0;
  }

  .image-block1 {
    display: flex;
    justify-content: center;
    overflow: hidden;
    align-items: center;
    height: 400px;
    border: 2px solid rgb(245, 245, 245);
    padding: 0;
  }

  .more-block1-Ing {
    margin: 20px 0 0px 0;
  }

  .more ul {
    columns: 3;
  }

  .image-block1 img {
    height: 1800px;
    border: none;
  }
}

@media screen and (max-width: 725px) {
  .search {
    padding: 0 20px;
  }

  .search div {
    width: 100%;
  }

  .more ul {
    columns: 2;
  }
}
